<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hotcenplotz.mapper.UserMapper">

    <select id="findAll" resultType="com.hotcenplotz.pojo.User">
        select id, username, password, name, age, last_update from the_db.user
    </select>

<!--    <delete id="deleteById">-->
<!--        delete from the_db.user where id = #{id}-->
<!--    </delete>-->

<!--    <insert id="save">-->
<!--        insert into the_db.user (id, username, password, name, age, last_update) values (#{id},#{username},#{password},#{name},#{age},#{last_update})-->
<!--    </insert>-->

<!--    <update id="updateUserAge">-->
<!--        update the_db.user set age = #{age}, last_update = #{last_update} where id = #{id}-->
<!--    </update>-->

<!--    <select id="findByNameAndPass" resultType="com.hotcenplotz.pojo.User">-->
<!--        select * from the_db.user where username = #{username} and password = #{password}-->
<!--    </select>-->
</mapper>


