
a {
    text-decoration: none;
}

span {
    color: rgb(178, 178, 178);
}


#news {
    color: rgb(178, 178, 0);
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.content {
    background-color: lightgray;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
    color: cornflowerblue;
}

.content .block {
    font-size: 30px;
    margin-bottom: 5px;

}

.content .block p {
    font-size: 20px;
    font-style: italic;
    color: darkturquoise;
    line-height: 2;
    text-indent: 2em;
}